<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Hi this is the category page</h1>
    <a href="/category/new">Create a new category</a>
    <ul>
      <% categories.forEach(category => { %>
      <li><%= category.name %></li>
      <a href="category/<%= category.id %>/update">Update Category</a>
      <a href="category/<%= category.id %>/delete">Delete Category</a>
      <%});%>
    </ul>
  </body>
</html>
