<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Hi this is the items page</h1>
    <a href="/item/new">Create a new item</a>
    <ul>
      <% items.forEach(item => { %>
      <li><%= item.name %></li>
      <a href="item/<%= item.id %>/update">Update item</a>
      <a href="item/<%= item.id %>/delete">Delete item</a>
      <%});%>
    </ul>
  </body>
</html>
